.gitignore
data/
log/
.vscode/
*.pyc
__pycache__/
config/
figure/
heatmap/
*.model
*.wordvectors
*.vocab
*.means
weights/
*.dataset
*.pkl
*.pt
trees/
EVALB/
scheduler/
vocab/
*.png
*.svg
noised_output/
evalb-test/
gold_trees/
parsed/
parsed_span/
test_dist/
evalb_test.txt
pred.txt
*.gif
*.prog
prototype/
model/
results/
raw_trees/
stash/
collect.sh
drawing/
achieving/